<div class="container">
    <div class="card" style="padding: 25px;">
            <h5 class="mb-3">Report Generate of Booking Flat</h5>
        <div class="row">
           
            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-green order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Todays</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Last 7 Days</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Last Month</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Custom Date</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Custom Date Range</h5>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Custom Month</h5>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="" asp-action="">
                    <div class="card bg-c-green order-card">
                        <div class="card-block"style="padding: 10px;">
                            <h5 class="text-center">Only Total Profit</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xl-3">
                <a style="width: 150px; text-decoration: none" asp-controller="Report" asp-action="AllBookingReport" target="_blank">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block" style="padding: 10px;">
                            <h5 class="text-center">Generate All Booking</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</div>