@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Flat Details";
}
<div class="RecomendedArea mt-5 mb-3">
    <h5>Confirm Your Flat</h5>
    <small>Best Flat with affordable price</small>
    <div class="card flatDetils mb-3 mt-3">
      
                <img class="card-img-top" style="overflow: hidden" src="/img/flat3.jpg" alt="Card image cap">
               <div class="card-body mb-3">
                   <p><b> Description: </b> <br/>
                      This building has 22 flat and the number of people live here more then 30. The eleticty bacup is here and water used 
                      WASA water used and side by side it has own water supply backup as well as lift facility are available in here.
                   </p>
                   <p><b>Adddress</b> <br/>
                       House: 10, Road: 20, Sector: 10, Uttara Dhaka
                   </p> 
                   <p><b>Room:</b> <br/>
                       4
                   </p> 
                   <p><b>Type of:</b> <br/>
                      Family
                   </p>
                   <p><b>Cost:</b> <br/>
                       20000 tk/month
                   </p> 
                   <p><b>Phone:</b> <br/>
                       01704725466
                   </p>
               </div>
            <div class="d-flex justify-content-end mb-3 mt-2">
            <a class="btn btn-primary" asp-controller="Flat" asp-action="Index" >Cancel</a>
            <a class="btn btn-primary mx-3" asp-controller="Payment" asp-action="Index" >Payment</a>
            </div>
          
                  
    </div>

</div>