<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Dashboard" asp-action="UserList">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h5 class="text-center">User List</h5>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Dashboard" asp-action="OwnerList">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h5 class="text-center">Flat Owner List</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Dashboard" asp-action="Subscriber">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h5 class="text-center">Subscriber</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="" asp-action="">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h5 class="text-center">Enquery</h5>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Flat" asp-action="Create">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h5 class="text-center">Create Flat</h5>
                    </div>
                </div>
            </a>
        </div>*@
        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Dashboard" asp-action="AdminSearchFlat">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h5 class="text-center">Search Flat</h5>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Report" asp-action="Index">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h5 class="text-center">Generate Report</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-xl-3">
            <a style="width: 270px; text-decoration: none" asp-controller="Dashboard" asp-action="Notice">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h5 class="text-center">Give Notice</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>