 <div class="d-flex justify-content-center">
        <div class="HomeHeaderLef">
       
            <div class="card">
                <div class="card-body">

                    <h5>Search </h5>

                    <form class="p-2">

                        <div class="row  mt-3">
                            <div class="col-6 mb-3">
                                <label class="mb-1"><b>Area</b></label>
                                <select class="form-control">
                                <option value="Airport">Airport</option>
                                <option value="Uttara"> Uttara</option>
                                <option value="Mirpur"> Mirpur</option>
                                <option value="Bonani"> Bonani</option>
                                <option value="Gulsan"> Gulsan</option>
                                <option value="Dhanmondi"> Dhanmondi</option>
                                <option value="Motijil"> Motijil</option>
                        </select>
                            </div>

                            <div class="col-6 mb-3">
                                <label class="mb-1"> <b>Price</b></label>
                                <input type="number" class="form-control" />
                            </div>

                            <div class="col-6 mb-3">
                                <label class="mb-1"> <b>Rooms </b></label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="mb-1"><b>Type </b></label>
                                <select class="form-control">
                                    <option>Family</option>
                                    <option>Bachelor</option>
                                    <option>Sublate</option>

                                </select>
                            </div>



                        </div>
                        <a class="btn btn-success mt-3 mb-3" asp-controller="Dashboard" asp-action="AdminSearchResult">Admin Search</a>
                    </form>
                </div>
            </div>
        </div>
      
    </div>