html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.HomeHeaderLef {
    width: 70%;
   /* border: 1px solid red;*/
}
.HomeHeaderRight {
    width: 30%;
    /*border: 1px solid green;*/
}
.HeaderBanar{
    /*height: 300px*/
}
.SearchForm {
    width: 80%;
   /* border: 1px solid red;*/
}
.SearchOptions {
    width: 20%;
   /* border: 1px solid green;*/
}
.RecomendedArea{
    width: 90%;
    margin: 0 auto;
}
.dec_flat{
    font-size: 14px;
    line-height: 20px;
}
.flatDetils{
    width: 60%;
    margin: 0 auto;
}

.paymentGetWay{
    width: 40%;
    margin: 0 auto;
}
.paymentImg{
    width: 80px;
    height: 60px;
}
.userProfile {
    width: 70%;
    margin: 0 auto;
}
.userBookedList {
    width: 80%;
    margin: 10px auto;
}